li {
    list-style: none;
}

:root {
    --dark: #6C6C6C;
    --black: #000;
    --danger: #AC1313;
    --dark-danger: #D77474;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}



a {
    font-family: "poopins", sans-serif;
    text-decoration: none;
    color: inherit
}

.banner {
    height: 700px;
    background: url("/assets/images/photo_2025-01-28_19-46-34.jpg") right / 50%,
        url("/assets/images/fon.jpg") center / cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}


a:focus {
    color: var(--danger);
}

.text {
    text-transform: uppercase;
}


li:last-child {
    padding-bottom: 4px;
}

ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

.wrap {
    display: flex;
    justify-content: space-between;
    padding: 13px 0;
}

.nav-wrap {
    display: flex;
    gap: 30px
}

a {
    text-decoration: none;
    color: black;
}


.text {
    text-transform: uppercase;
}

.cart {
    margin-right: 7px;
}

.subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--danger);
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 12px;
}

.title {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: var(--black);
    margin-bottom: 14px;
    margin-top: 0;
    position: relative;
}

.banner-text {
    font-family: "lible Franken", sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 51px;
    margin-top: 0;

}

.shop-button {
    color: white;
    background: var(--danger);
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 15px;
    font-weight: 700;
    font-family: "poppins", sans-serif;
    display: inline-block;
}

.banner-wrap {
    padding: 160px 0 200px 120px;
}

.title::before {
    content: url("/assets/images/&.png");
    position: absolute;
    left: 430px;
    top: -10px;
}


.category-wrap {
    text-align: center;
}



.category-title {
    font-family: "poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0 0;
    margin-bottom: 100px;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

.images-wrap {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}

.category-text {
    display: flex;
    gap: 133px;
    padding-bottom: 120px;
    font-family: "lible franklin", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.category-text-title {
    font-family: "poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 70px;
    line-height: 40px;
}

h3 {
    font-family: "poppins", sans-serif;
    font-size: 25px;
    color: var(--black);
    margin-bottom: 26px;
    margin-top: 0;
}


.product,
.product-ceramic {
    position: relative;
    height: 220px;
    width: 500px;
    background: #a8a4a4;
}

.product::before {
    content: url("/assets/images/pottery.png");
    width: 250px;
    height: 509px;
    position: absolute;
    transform: translate(47%, -25%);
}

.product-ceramic::before {
    content: url("/assets/images/ceramic.png");
    width: 350px;
    height: 417px;
    position: absolute;
    transform: translate(21%, -25%)
}

.product-wrap {
    margin-top: 250px;
    margin-bottom: 220px;
    display: flex;
    gap: 86px;
}

.pottery-description {
    max-width: 396px;
}

.catalog {}


.product-title {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 23px;
}

.link-detail {
    font-weight: 700;
}



.category-description,
.link-detail {
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.catalog {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    gap: 10px;
    justify-items: center;
}



.link-detail {
    font-weight: 700;
}


.item {
    justify-self: center;
}


.product-title {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
    margin-bottom: 23px;
}


.catalog-ittem {
    display: flex;
    padding: 15px 0;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.catalog-item {
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    max-width: 370px;
}

.catalog-button {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


.banner-plates {
    height: 700px;
    background: url("/assets/images/image-plates.png") center/cover;
    background-repeat: no-repeat;
    margin-bottom: 120px;
    margin-top: 100px;
}


.form-title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    line-height: 50px;
}

.form-text {
    margin: 40px 0 20px;
    letter-spacing: 2px;
}


.form-wrap {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-input {
    width: 320px;
    padding: 13px 10px;
    margin-right: 11px;
}

.checkbox-wrap {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.form-botton {
    background-color: #000;
    color: white;
    padding: 13px 10px;
    width: 175px;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #8534FF;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

.checkbox:checked::before {
    content: "✔️";
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.footer-wrap {
    padding: 120px 0 80px;
    background-color: #fbfbfb;
    text-align: center;
}

.footer-contact {
    text-transform: uppercase;
}

.footer-contact-wrap {
    justify-content: space-between;
    flex-direction: row;
    margin: 120px;
    display: flex;

}

.subfooter {
    background-color: #fbfbfb;
    padding: 30px 0 20px;
    text-align: center;
    flex-direction: column;

}

.footer {
    display: flex;
    justify-content: space-between;
}



@media screen and (max-width: 550px) {
    .footer-contact-wrap {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .shop-button {
        display: flex;
        max-width: 150px;
        margin: 0 auto;
        margin-top: 200px;
    }

    .banner {
        height: unset;
        background: url('/assets/images/banner-image.png') center 75% / 100%,
            url('/assets/images/banner-bg.png') center / cover;
        background-repeat: no-repeat;
        margin-bottom: 50px;
    }
}